* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


  background-color: #000;
  background-image: url("public/grad.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 300px;
}



.container {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero-img {

  width: 400px;
  border-radius: 50%;
  margin-bottom: -150px;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.3));
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  color: #d1d1d1;
}

h2 {
  font-weight: 400;
  color: #d1d1d1;
  margin-bottom: 1.5rem;
}

p {
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.85rem;
  position: fixed;     /* stays in the same place even when scrolling */
  bottom: 20px;        /* distance from bottom */
  right: 20px;         /* distance from right edge */
  color: #d1d1d1;
  font-size: 0.9rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 400px;
}

button {
  background: linear-gradient(90deg, #ffb347, #ffcc33);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

#status {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #bbb;
}
